body{
    background: #e5e1e1
}

#titulo{
    margin-top: 0px;
}

h1{
    display: flex;
    width: 100%;
    justify-content: center;
}

.area{
    display: flex;
    padding: 20px;
}

.productos{
    width: 55%;
}

.datos{
    width: 30%;
    background: #a5dfd8;
    height: 250px;
    border-radius: 20px;
}

label{
    display: block;
}

.encabezados{
    background: #b6b3b3;
    padding: 10px;
    border-radius: 10px;
    margin-right: 30px;
}

span{
    font-size: 25px;
}

#art{
    margin-left: 25%;
    margin-right: 38%;
}

.cajita{
    margin: 5% 0% 0% 30%;
}

.art{
    width: 65%;
    padding-left: 40px;
    font-size: 25px;
    align-content: center;
}

.pre{
    display: flex;
    flex-wrap: wrap;
    width: 18%;
    font-size: 25px;
    align-content: center;
    justify-content: center;
    
}

.eliminar{
    margin-left: 5%;
    width: 50px;
    align-content: center;
    margin-top: 8px;
    height: 70%;
    border-radius: 30px;
    background: #d25858;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}

.fila{
    margin-top: 30px;
    background: #d6d6d6;
    width: 93%;
    height: 50px;
    align-content: center;
    border-radius: 30px;
}